/* Method to declare your own fonts */
@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}
@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/oswald/Oswald-Regular.ttf);
}
/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/
/* Some simple CSS rules for styling p, h1 to h6, etc. in the main 
content’s container */
body {
    background-color: rgba(255,255,255,0.8);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-family: 'OpenSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'OpenSans', sans-serif;
    /*font-family: cocaColaFont;*/
}

#main_3d_image {
    /*background-image: url(../assets/images/site_images/main_new.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    /* The div block for the main_3d_image has no vertical size, 
so we need a height to see the background image */
    height: 200px;
}
#main_text {
    float: left;
    margin: 1%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
}

#main_text h2 {
    color: darkred;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
}

#main_text p {
     font-size: 15px;
     margin: 0px;
     line-height: 1.2;
}

#aboutPageText p {
    font-size: 25px;
    margin: 0px;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
}

#aboutUnderstandingHead h1 {
    font-size: 35px;
    margin: 0px;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
}

#aboutUnderstandingText p {
    font-size: 25px;
    margin: 0px;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
}

#aboutReferenceHead h1 {
    font-size: 35px;
    margin: 0px;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
}

#aboutReferenceText p {
    font-size: 25px;
    margin: 0px;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
}

#caroutext1 h5 {
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
}

#caroutext2 h5 {
    color: black;
    font-size: 40px;
    -webkit-text-stroke: 1px white;
}

#caroutext3 h5 {
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
}

.card {
    border: 5px solid rgba(0,0,0,.125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #cccccc;
}

/* CSS rule to style the mobile logo */
.logo {
    margin-top: 3px;
}

.logo h1 {
        font-family: cocaColaFont; /* You don't need to repeat this for each 
media query as it is propagated */
        font-size: 50px;
        margin: 0;
        margin-top: -15px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
}

.logo h2 {
        font-family: cocaColaFont;
        font-size: 50px;
        margin-top: -6px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: -10px;
        padding-right: 2px;
        float: left;
}

.logo h3 {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: -5px;
        padding-top: -3px;
        padding-left: 5px;
        float: left;
}

.logo p {
        font-size: 15px; /* You may have to tweak this to get a good fit */
        margin-top: 40px; /* You may have to tweak this to get a good fit */
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 10px;
}

/* New CSS rules to better position the navbar and increase its height, 
Bootstrap defaults tend to make your site look like a Bootstrap clone! 
*/
/* CSS rule to overwrite the navbar background and border color — again, 
helps to stop your site looking like a Bootstrap clone! 
*/
.navbar_coca_cola {
    background-color: rgba(175,0,0,1); /* Set navbar background color */
    border-width: 0px;
    min-height: 70px;
}

/*CSS rule to overwrite the navbar-brand font color*/

.navbar_coca_cola .navbar-brand {
    color: rgba(255,255,255,1);
}

/* CSS rule to overwrite the navbar-brand font hover color */

.navbar_coca_cola .navbar-brand:hover {
    color: black;
}

/* NAVIGATION MENU*/
.navbar_coca_cola .navbar-nav > li > a {
    color: white;
    font-size: 20px;
}
/* CSS rule to overwrite the bootstrap.css text hover color on the navbar*/
.navbar_coca_cola .navbar-nav > li > a:hover,
.navbar_coca_cola .navbar-nav > li > a:focus {
   color: black;
}

.navbar_coca_cola .navbar-nav .nav-item {
   margin-top: 0px;
}
/* CSS rule to overwrite the bootstrap.css rules for setting the active 
font color and background colour*/
.navbar_coca_cola .navbar-nav .nav-item > .active,
.navbar_coca_cola .navbar-nav > .active > a:hover,
.navbar_coca_cola .navbar-nav > .active > a:focus {
   color: black; /* Font color for active font */
   background-color: white; /* Blue color for background */
}
/* A set of CSS rules to change the Bootstrap defaults for the menu link 
text color, hover, background, focus*/

/* CSS rule to overwrite the bootstrap.css text hover color on the navbar*/
.navbar_coca_cola .navbar-nav > li > a:hover,
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: black;
}

/* These next two CSS rules control the style of the icon bar */
.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.navbar_coca_cola .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Let's style the dropdown menu*/
.dropdown-menu {
    text-align: left;
    background-color: lightgray;
    margin-top: 20px; 
}

.dropdown-menu .dropdown-item { /*text colour*/
   color: black;
}

.dropdown-menu .dropdown-item:hover {
   color: #030303;
   background-color: indianred;
}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}

/* CSS rule to style the footer */
.footer {
    color: rgba(175,0,0,1);
    background-color: rgba(175,0,0,1); /* Set navbar footer background color same as header */
    height: 50px;
}

.navbar-text > a {
    font-size: 10px;
}

.navbar-text > p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-decoration: none;
}

.copyright {
    padding-top: 8px;
}

.social {
    padding-top: 2px;
}


.fa-twitter-square:before {
    content: "\f081";
    color: white;
    font-size: 2em;
}

.fa-github-square:before {
    content: "\f092";
    color: white;
    font-size: 2em;
}

.fa-google-plus-square:before {
    content: "\f0d4";
    color: white;
    font-size: 2em;
}

.fa-facebook-square:before {
    content: "\f082";
    color: white;
    font-size: 2em;
}

.img-thumbnail {
    padding: .25rem;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 200%;
    height: auto;
}

/* Lifted form the bootsrap.css file, and modified to emulate the nav-bar 
menu styling */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: darkslategray; /* Font color for active font */
    background-color: white; /* Blue color for background */
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
    color: white;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
    /* Added this to emulate the nav-bar link styling */
    .nav-tabs .nav-link:hover {
        color: black;
        border: 1px solid transparent;
    }

.camera-btns {
    /* background-color: rgba(0, 0, 255, 0.3);  */
    border-color: black;
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
}

    .camera-btns > p {
        font-size: 15px;
        color: red;
        padding-left: 0px;
        font-weight: 900;
    }

.camera-font {
    font-weight: 400;
    color: white;
}

    .camera-font:hover {
        font-weight: 700;
        color: rgb(3, 3, 3);
    }

.btn-responsive {
    padding: 6px 10px;
    font-size: 90%;
    line-height: 1.2;
    white-space: normal !important;
}

.gallery-header {
    color: white;
}

    .gallery-header:hover {
        color: green;
        border: 1px solid transparent;
    }

.model3D {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(./../assets/images/site_images/blur_coke.png);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 400px;
}

X3D, x3d {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
}

.carousel-inner > .carousel-item > img {
    height: 50%;
    margin: auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /* CSS rule to style the footer */
    .footer {
        /*background-color: rgba(175,0,0,1);*/
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgba(255,255,255,1);
        font-size: 22px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 5px;
    }
}