#gallery {
    width:100%;
}

#gallery_cell{
    padding:10px;
    background: ivory;
    border: 1px solid red;
    min-width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}

.img-thumbnail {
    max-width: 300px;
    max-height: 300px;
}

#siteImg1 {
    max-width: 400px;
    max-height: 400px;
}

#siteImg2 {
    max-width: 400px;
    max-height: 400px;
}

#siteImg3 {
    max-width: 400px;
    max-height: 400px;
}